In [34]:
import pandas as pd
import random

In [35]:
randos = pd.Series([random.randint(0, 100) for _ in range (20)])

In [36]:
randos[(randos < 50) & (randos > 10)]**2

4     1849
7     1600
8     1225
11     144
15     784
17    2209
18     676
19     784
dtype: int64

In [37]:
randos[randos.argsort()]

9      9
11    12
18    26
15    28
19    28
8     35
7     40
4     43
17    47
2     53
13    61
6     64
12    69
14    69
0     70
16    84
5     92
10    92
3     93
1     96
dtype: int64

In [38]:
randos.describe()

count    20.000000
mean     55.550000
std      27.656683
min       9.000000
25%      33.250000
50%      57.000000
75%      73.500000
max      96.000000
dtype: float64

In [39]:
states_dict = {
    "states": ["New York", "California", "Texas", "Florida", "New Jersey", "Washington"],
    "capital": ["New York City", "Sacramento", "Austin", "Tallahassee", "Trenton", "Olympia"],
    "population": [19750000, 38800000, 26960000, 19890000, 8938000, 7062000]
}

In [40]:
states_df = pd.DataFrame(states_dict)

In [41]:
states_df.capital

0    New York City
1       Sacramento
2           Austin
3      Tallahassee
4          Trenton
5          Olympia
Name: capital, dtype: object

In [42]:
states_df.set_index("states", inplace=True)

In [43]:
states_df.capital.loc["New York"] = "Albany"

/Users/seleniumk/.virtualenvs/data_analysis/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
states_df

                capital  population
states
New York         Albany    19750000
California   Sacramento    38800000
Texas            Austin    26960000
Florida     Tallahassee    19890000
New Jersey      Trenton     8938000
Washington      Olympia     7062000

In [47]:
states_df["time zones"] = ["EST", "PST", "CST", "EST", "EST", "PST"]
states_df

                capital  population time zones
states
New York         Albany    19750000        EST
California   Sacramento    38800000        PST
Texas            Austin    26960000        CST
Florida     Tallahassee    19890000        EST
New Jersey      Trenton     8938000        EST
Washington      Olympia     7062000        PST

In [49]:
states_df["pop per mil"] = states_df.population / 1E6
states_df

                capital  population time zones  pop per mil
states
New York         Albany    19750000        EST       19.750
California   Sacramento    38800000        PST       38.800
Texas            Austin    26960000        CST       26.960
Florida     Tallahassee    19890000        EST       19.890
New Jersey      Trenton     8938000        EST        8.938
Washington      Olympia     7062000        PST        7.062

In [51]:
states_df.loc["Oregon"] = states_df.loc["Washington"]
states_df

                capital  population time zones  pop per mil
states
New York         Albany    19750000        EST       19.750
California   Sacramento    38800000        PST       38.800
Texas            Austin    26960000        CST       26.960
Florida     Tallahassee    19890000        EST       19.890
New Jersey      Trenton     8938000        EST        8.938
Washington      Olympia     7062000        PST        7.062
Oregon          Olympia     7062000        PST        7.062

In [60]:
new_row = {"capital": ["Springfield"], "population": ["20000000"], "time zones": ["CST"], "pop per mil": [1], "states": ["IL"]}
pd.concat([states_df, pd.DataFrame(new_row).set_index("states")])

                capital  pop per mil population time zones
states
New York         Albany       19.750   19750000        EST
California   Sacramento       38.800   38800000        PST
Texas            Austin       26.960   26960000        CST
Florida     Tallahassee       19.890   19890000        EST
New Jersey      Trenton        8.938    8938000        EST
Washington      Olympia        7.062    7062000        PST
Oregon          Olympia        7.062    7062000        PST
IL          Springfield        1.000   20000000        CST

if you set axis=1, adds new columns if you have the same row names
defaults to axis=0, adds new rows if you have the same column names

## PandaSql

In [61]:
import pandasql as sql

In [63]:
sql.sqldf("SELECT * FROM states_df WHERE population > 7063000")

       states      capital  population time zones  pop per mil
0    New York       Albany    19750000        EST       19.750
1  California   Sacramento    38800000        PST       38.800
2       Texas       Austin    26960000        CST       26.960
3     Florida  Tallahassee    19890000        EST       19.890
4  New Jersey      Trenton     8938000        EST        8.938

## Reading a CSV File

In [68]:
uber = pd.read_csv("data/Uber-Jan-Feb-FOIL.csv")
uber.date = pd.to_datetime(uber.date)

## Writing to a JSON file

In [69]:
uber.to_json("sample.json")

## Writing to a CSV file

In [71]:
uber.to_csv("sample.csv", index=False)
# includes index numbers and empty column, set index to false

## NaNs

In [73]:
import numpy as np

In [74]:
type(np.nan)

float

In [75]:
np.nan + 5

nan

In [76]:
np.infty/np.infty

nan

In [77]:
uber.columns

Index(['dispatching_base_number', 'date', 'active_vehicles', 'trips'], dtype='object')